@use 'base/variables' as v;
@use 'base/mixins' as m;

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

img {
    display: inline-block;
}

body {
    font-family: v.$fuentePrincipal;
    overflow-x: hidden;
    position: relative;
}



.bg-top {
    background-image: url(../../images/bg-pattern-top.svg);
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    width: 50rem;
    height: 50rem;
    top: -22rem;
    left: -27rem;

    @include m.tablet {
        width: 60rem;
        height: 60rem;
        top: -30rem;
        left: -26rem;
    }

    @include m.desktop {
        width: 70rem;
        height: 70rem;
        top: -35rem;
        left: -20rem;
    }

    @include m.desktopXL {
        width: 80rem;
        height: 80rem;
        top: -38rem;
        left: -12rem;
    }
}


.bg-bottom {
    background-image: url(../../images/bg-pattern-bottom.svg);
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    width: 40rem;
    height: 40rem;
    bottom: -15rem;
    right: -20rem;

    @include m.tablet {
        width: 60rem;
        height: 60rem;
        bottom: -33rem;
    }

    @include m.desktop {
        width: 70rem;
        height: 70rem;
        bottom: -37rem;
    }

    @include m.desktopXL {
        width: 85rem;
        height: 85rem;
        bottom: -53rem;
        right: -10rem;
    }
}

p {
    font-size: 1.8rem;
    color: v.$azulGrisaceo;
    margin: 0;
}

.contenedor {
    width: 90%;
    max-width: 35rem;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    background-color: v.$blanco;
    position: absolute;
}

.contenedor-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: v.$cianOscuro;
    height: 100vh;
}