
// Colores primarios
$cianOscuro: hsl(185, 75%, 39%);
$azulOscuro: hsl(229, 23%, 23%);
$azulGrisaceo: hsl(227, 10%, 46%);
$blanco: rgb(255, 255, 255);

// Colores neutros
$grisOscuro: hsl(0, 0%, 59%);
$gris: hsl(0, 0%, 91%);

// Tipografia
$fuentePrincipal: 'Kumbh Sans', sans-serif;

// Tamaños
$telefono: 480px;
$tablet: 768px;
$desktop: 992px;
$desktopXL: 1200px;