@use 'base/variables' as v;
@use 'base/mixins' as m;

.contenido {
    padding: 5rem 0 3rem 0;
    text-align: center;

    .titulo {
        display: inline-block;
        font-size: 1.8rem;
        margin-right: 1rem;
        margin-bottom: 1rem;
        color: v.$azulOscuro;
    }

    .numero {
        font-size: 2rem;
        color: v.$grisOscuro;
    }

    .contenido-texto {
        font-size: 1.5rem;
        color: color;
    }
}
