@use 'base/variables' as v;
@use 'base/mixins' as m;

.footer {
    display: flex;
    justify-content: space-evenly;
    color: v.$azulGrisaceo;
    border-top: 1px solid v.$gris;
    padding: 2.5rem 0;
    text-align: center;

    .footer-bold {
        font-weight: bold;
        color: v.$azulOscuro;
        margin-bottom: .5rem;
    }

    .footer-texto {
        font-size: 1.1rem;
        letter-spacing: .2rem;
    }
}